.gradle
build/
generated-sources/
generated-classes/
generated-classes-apt/
target/
# Ignore Gradle GUI config
gradle-app.setting
gradle.properties
#ignore spring boot custom config
spring-boot-config/

.project
.classpath
target
.DS_Store
.settings
generated
.springBeans
.springWebflow
.sass-cache
*.orig
*.swp
*~
.~lock.*#
.nbproject
.metadata
nbproject
{tomcat.server.log}
.idea
*.info
*.iml
*.ipr
*.iws
*.ids
out.txt
log4j.jar
.checkstyle
copyftl
djd*
Thumbs.db
*.ajsv
*.class
logs
*.log
*.tar.gz
overlays
log.txt
pom.xml.versionsBackup
