<div  th:if="${productors.getTotalElements() > 0}">

    <div class="row" th:if="${showmore == false}">
        <div class="col-md-8">
            <h4 class="text-faded" th:utext="#{addonf.search.productors(${productors.getTotalElements()})}">Labels</h4>
        </div>
        <div class="col-md-4 text-right">
            <span th:text="#{addonf.search.show.by}">Monter par :</span>
            <select id="bySize">
                <option value="20" th:selected="${productors.getSize()==20}">20</option>
                <option value="50"  th:selected="${productors.getSize()==50}">50</option>
                <option value="100"  th:selected="${productors.getSize()==100}">100</option>
            </select>
        </div>
    </div>
    <h4 th:if="${showmore == true}" class="text-faded" th:utext="#{addonf.search.productors(${productors.getTotalElements()})}">Labels</h4>



    <div class="row">
        <div class="col-md-4" th:each="productor : ${productors.getContent()}">
            <div class="row box-generic padding-none">
                <div class="col-md-4">
                    <img style="max-height: 64px;max-width:100%" th:if="${productor.photo !=null}" th:src="@{${session.staticUrl}+'productor/'+${productor.photo}}" />
                    <img style="max-height: 64px;max-width:100%" th:if="${productor.photo ==null}" th:src="@{${session.staticUrl}+'productor/default.png'}" />
                </div>
                <div class="col-md-8">
                    <a th:href="@{/majorPage.html(majorId=${productor.id})}" th:utext="${productor.fullName}">name</a>
                    <p th:with="df=#{date.format}" th:utext="#{addonf.search.result.last.music.date(${#dates.format(productor.lastRelease,df)})}">Sortie le plus récente: 2014-01-08</p>
                </div>
            </div>
        </div>
    </div>

    <a th:if="${productors.hasNext() and showmore == true}" th:utext="#{addonf.search.result.more.productor.result}" th:href="@{/search/label(q=${param.q})}">Voir plus de Labels</a>
</div>