    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 class="text-white bg-primary text-center title" style="font-size: 3.5em;font-weight: 700;letter-spacing: -3px;padding: 10px;" th:text="#{addonf.slider.title}">Free musics download</h1>
                <h2 style="background: none repeat scroll 0 0 #FFFFFF;font-size: 2em;font-weight: 400;padding: 10px;" th:text="#{addonf.slider.subtitle}">Just Get ready to play and win</h2>
<!--                <div class="block" style="background: none repeat scroll 0 0 rgba(226, 226, 226, 0.8);margin-bottom: 10px;padding: 15px;">
                    <p>
                    <div th:text="#{addonf.explation.1}">1- choisir sa musique</div>
                    <div th:text="#{addonf.explation.2}">2- 3 pubicités en moins de 30 secondes</div>
                    <div th:text="#{addonf.explation.3}">3- Télécharger c'est gratuit !!!</div>

                    </p>
                </div>-->
                <script type="text/javascript">
                    $(function(){
                        $("#explain").popover({
                            html : true,
                            placement : 'bottom',
                            content : '<div class="block">' +
                                    '<p>' +
                                    '<div th:text="#{addonf.explation.1}">1- choisir sa musique</div>' +
                                    '<div th:text="#{addonf.explation.2}">2- 3 pubicités en moins de 30 secondes</div>'+
                                    '<div th:text="#{addonf.explation.3}">3- Télécharger c\'est gratuit !!!</div>'+
                                    '</p>'+
                                    '</div>'
                        });
                    });
                </script>
                <div class="block text-center " style="background: none repeat scroll 0 0 rgba(226, 226, 226, 0.8);margin-bottom: 10px;padding: 15px;">
                    <button class="btn btn-lg btn-primary" th:text="#{addonf.more.explation}" id="explain">Explanation</button>
                </div>
            </div>
            <div class="col-md-8">
                <div id="owl-featured" class="owl-carousel owl-theme">
                    <div class="item" th:each="push : ${pushes}">
                        <div class="widget widget-pinterest">
                            <div class="mark text-center">
                                <span class="caret caret-primary"></span>
                                <span class="text" th:text="#{addonf.slider.new}">New</span>
                            </div>
                            <div class="widget-body padding-none">
                                <a th:href="@{/product.html(musicId=${push.id})}" class="thumb">
                                    <img th:src="@{${session.staticUrl}+'jacket/'+${push.jacket}}" alt="Jacket" class="img-responsive" />
                                </a>
                                <div class="description">
                                    <a href="#" class="btn btn-primary btn-circle pull-right addToCart"  th:attr="data-music=${push.id}"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="#" class="btn btn-primary btn-circle pull-right playMusic" th:attr="data-music=${push.id}" style="margin-right: 2px;"><i class="fa fa fa-play"></i></a>
                                    <h5 class="text-uppercase" th:text="${push.getTitleAndProductors()}" style="height:auto;">Product name</h5>
                                    <!--<span class="text-primary text-medium text-condensed"  th:text="#{addonf.price(${push.nbAdsNeeded})}" >&euro;216.00</span>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
