<html>
<head>
    <title>Validation création de votre compte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<img src="cid:logo.png" alt="logo" />
Bonjour <span th:text="${username}">Bob</span>,<br/>
<br/>
Veuillez trouvez votre lien de validation de votre compte.<br/><br/>
<a th:href="${url}">Cliquez ici</a><br/>
<br/>
<br/>
Cordialement<br/>
<br/>
L'équipe MTzik
</body>
</html>