<!DOCTYPE html>
<html
       xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/home_layout">
<head>
    <link rel="stylesheet" th:href="@{/static/css/chosen-mtzik.css}"/>


    <link rel="stylesheet" th:href="@{/static/lib/jquery-ui-1.10.3/themes/base/jquery.ui.all.css}"/>


    <script th:src="@{/static/lib/chosen-1.0/chosen.jquery.js}"></script>
    <script th:src="@{/static/coral/assets/components/plugins/owl-carousel/owl.carousel.min.js}"></script>
    <script th:src="@{/static/coral/assets/components/plugins/holder/holder.js}"></script>
    <script th:src="@{/static/coral/assets/components/plugins/parallax/stellar/jquery.stellar.min.js}"></script>
    <script th:src="@{/static/coral/assets/components/plugins/parallax/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/static/coral/assets/components/plugins/appear/jquery.appear.js}"></script>

    <script type="text/javascript">
            $(function(){


                $(".genre-select").chosen(
                        {
                            allow_single_deselect: true ,
                            no_results_text: "Oops, nothing found!",
                            inherit_select_classes: true,
                            width:"100%"
                        }
                );


                $("#owl-catalog").owlCarousel({
                    autoPlay: 5000,
                    items: 3,
                    itemsCustom : [
                        [0, 1],
                        [450, 2],
                        [600, 2],
                        [700, 3],
                        [1000, 2],
                        [1200, 3],
                        [1400, 3],
                        [1600, 3]
                    ]
                })
                        .find('a').on('click', function(e){
                            e.stopPropagation();
                        });


                $("#previous").click(function(){
                    var $page = $("#page");
                    $page.val($page.val()-1);
                    $("#searchForm").submit();
                    return false;
                });
                $("#next").click(function(){
                    var $page = $("#page");
                    $page.val($page.val()+1);
                    $("#searchForm").submit();
                    return false;
                });
                $("#goPage").click(function(){
                    var $page = $("#page");
                    $page.val($("#pageNumber").val()-1);
                    $("#searchForm").submit();
                    return false;
                });

                $("#bySize").change(function(){
                    var $size = $("#size");
                    $size.val($(this).val());
                    $("#searchForm").submit();
                    return false;
                });

            });
    </script>


</head>


<body>
    <div layout:fragment="searchBar">
        <div th:substituteby="layout/fragment/searchBar(activeSearch=${'pageLabel'})"></div>
    </div>


    <div layout:fragment="content" id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div id="owl-catalog" class="owl-carousel owl-theme">
                        <div class="item" th:each="push : ${last10}">
                            <div class="widget widget-pinterest">
                                <div class="mark text-center">
                                    <span class="caret caret-primary"></span>
                                    <span class="text" th:text="#{addonf.slider.new}">New</span>
                                </div>
                                <div class="widget-body padding-none">
                                    <a th:href="@{/product.html(musicId=${push.id})}" class="thumb">
                                        <img th:src="@{${session.staticUrl}+'jacket/'+${push.jacket}}" alt="Jacket"/>
                                    </a>
                                    <div class="description">
                                        <a href="#" class="btn btn-primary btn-circle pull-right addToCart"  th:attr="data-music=${push.id}"><i class="fa fa-shopping-cart"></i></a>
                                        <a href="#" class="btn btn-primary btn-circle pull-right playMusic" th:attr="data-music=${push.id}" style="margin-right: 2px;"><i class="fa fa fa-play"></i></a>
                                        <h5 class="text-uppercase" th:text="${push.title}" style="height:3em">Product name</h5>
                                        <!--<span class="text-primary text-medium text-condensed"  th:text="#{addonf.price(${push.nbAdsNeeded})}" >&euro;216.00</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row box-generic padding-none">
                        <div class="col-md-4">
                            <img style="max-height: 64px;max-width:100%" th:if="${label.photo !=null}" th:src="@{${session.staticUrl}+'productor/'+${label.photo}}" />
                            <img style="max-height: 64px;max-width:100%" th:if="${label.photo ==null}" th:src="@{${session.staticUrl}+'productor/default.png'}" />
                        </div>
                        <div class="col-md-8">
                            <a th:href="@{/majorPage.html(majorId=${label.id})}" th:utext="${label.fullName}">name</a>
                            <p th:with="df=#{date.format}" th:utext="#{addonf.search.result.last.music.date(${#dates.format(label.lastRelease,df)})}">Sortie le plus récente: 2014-01-08</p>
                            <p th:utext="#{addonf.search.productors.artists(${nbArtist})}">Artists</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator"></div>

            <h3 th:if="${#strings.isEmpty(search.req) == false}" th:utext="#{addonf.search.for(${search.req})}"></h3>
            <div th:substituteby="layout/fragment/musics"></div>


            <div th:if="${#strings.isEmpty(search.req) == false}" class="row text-center">
                <div  style="margin-top: 10px;" class="col-md-4 text-center">
                    <a class="btn btn-primary btn-circle" id="previous" href="#" th:if="${musics.hasPrevious()}"><i class="fa fa-arrow-left"></i></a>
                </div>

                <div class="col-md-4">
                    <div class="col-xs-3">
                        <input type="number" class="form-control" value="0" th:value="${musics.getNumber()+1}" id="pageNumber"/>
                    </div>
                    <div class="col-xs-4">

                        <span style="line-height: 30px;" th:utext="#{addonf.search.result.music.nb(${musics.getTotalPages()})}">&nbsp;sur 15&nbsp;

                          </span>      </div>
                    <div class="col-xs-4">

                        <button id="goPage" class="btn btn-primary" type="submit">Go</button>
                    </div>

                </div>

                <div style="margin-top: 10px;" class="col-md-4 text-center">
                    <a class="btn btn-primary btn-circle" id="next" href="#" th:if="${musics.isLast()==false}"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>


        </div>

    </div>

</body>
</html>
